[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest
[submodule "external/pfr"]
	path = external/pfr
	url = https://github.com/boostorg/pfr
	branch = master
