[submodule "extern/magic_enum"]
	path = extern/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "extern/doctest"]
	path = extern/doctest
	url = https://github.com/doctest/doctest
[submodule "extern/pfr"]
	path = extern/pfr
	url = https://github.com/boostorg/pfr
	branch = master
